{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Wir haben Deine Registrierung erhalten. Bitte bestätige Deinen Account mit dem folgenden link<br><br>
		<a href="https://{{domain}}{{settings.client.pages.activation}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}" class="button">Aktivierung bestätigen</a>
	</p>
{% endblock %}
