{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo,</h3>
	<p>
		Deine Registrierung wurde bestätigt.<br>
		Du kannst Dich jetzt auf <a href="{{domain}}">{{domain}}</a> einloggen unseren internen Bereich nutzen. Hier warten viele Vorteile auf Dich.<br><br>
		<a href="{{protocol}}{{domain}}{{settings.client.pages.login}}" class="button" target="_blank">Jetzt einloggen</a><br><br>Nutze diesen Link <a href="{{protocol}}{{domain}}{{settings.client.pages.login}}" target="_blank">{{protocol}}{{domain}}{{settings.client.pages.login}}</a> sollte der Knopf nicht richtig dargestellt werden.

	</p>
	<p>
		Solltest Du während des Registrierungsprozesses kein Passwort angelegt oder Dein Passwort vergessen haben, kannst Du dein Passwort <a href="{{protocol}}{{domain}}{{settings.client.pages.lostPassword}}">hier neu anfordern.</a><br><br>
		<a href="{{protocol}}{{domain}}{{settings.client.pages.lostPassword}}" class="button" target="_blank">Passwort vergessen!</a><br><br>Nutze diesen Link <a href="{{protocol}}{{domain}}{{settings.client.pages.lostPassword}}" target="_blank">{{protocol}}{{domain}}{{settings.client.pages.lostPassword}}</a> sollte der Knopf nicht richtig dargestellt werden.
	</p>
	<p>
		Viel Spaß!
	</p>
{% endblock %}
