{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Wir haben Deine Registrierung erhalten. Bitte bestätige Deinen Account mit dem folgenden link<br><br>
		<a href="https://{{domain}}{{settings.client.pages.activation}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}" class="button" target="_blank">Aktivierung bestätigen</a><br><br>Nutze diesen Link <a href="https://{{domain}}{{settings.client.pages.activation}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}" target="_blank">https://{{domain}}{{settings.client.pages.activation}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}</a> sollte der Knopf nicht richtig dargestellt werden.
	</p>
{% endblock %}
