{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo,</h3>
	<p>
		Deine Registrierung wurde bestätigt.<br>
		Du kannst Dich jetzt auf <a href="{{domain}}">{{domain}}</a> einloggen unseren internen Bereich nutzen. Hier warten viele Vorteile auf dich.<br><br>
		<a href="//{{domain}}{{settings.client.pages.login}}" class="button">Jetzt einloggen</a>

	</p>
	<p>
		Solltest Du während des Registrierungsprozesses kein Passwort angelegt oder dein Passwort vergessen haben, kannst du dein Passwort <a href="//{{domain}}{{settings.client.pages.lostPassword}}">hier neu anfordern.</a><br><br>
		<a href="//{{domain}}{{settings.client.pages.lostPassword}}" class="button">Passwort vergessen!</a>
	</p>
	<p>
		Viel Spaß!
	</p>
{% endblock %}
