{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo,</h3>

	<p>Ein Kunde hat sich auf {{domain}} registriert:</p>

	<table border="0" cellspacing="0" cellpadding="0" class="regular-table">
		<tr>
			<td><strong>{{'client.field.type'|translate}}</strong></td>
			<td>{{('client.types.' ~ client.type)|translate}}</td>
		</tr>
		<tr>
			<td><strong>{{'general.fields.gender'|translate}}</strong></td>
			<td>{{('general.gender.' ~ client.gender)|translate}}</td>
		</tr>
		<tr>
			<td><strong>{{'client.field.contactname'|translate}}</strong></td>
			<td>{{client.first_name}} {{client.last_name}}</td>
		</tr>
		{% if client.company %}
			<tr>
				<td><strong>{{'client.field.company'|translate}}</strong></td>
				<td>{{client.company}}</td>
			</tr>
		{% endif %}
		<tr>
			<td><strong>{{'client.field.address'|translate}}</strong></td>
			<td>
				{{client.address}}<br>
				{% if client.address_supplement %}{{client.address_supplement}}<br>{% endif %}
				{{client.zip}} {{client.city}}
			</td>
		</tr>
		{% if client.phone %}
			<tr>
				<td><strong>{{'client.field.phone'|translate}}</strong></td>
				<td>{{client.phone}}</td>
			</tr>
		{% endif %}
		<tr>
			<td><strong>{{'client.field.mail'|translate}}</strong></td>
			<td>{{client.mail}}</td>
		</tr>
	</table>

	<p style="text-align: center; font-size: 1.5em;"><strong>Was möchtest Du tun?</strong><br><br>
		<a href="{{protocol}}{{domain}}{{settings.client.pages.declination}}?mail={{client.mail}}" class="button disabled">Ablehnen</a>
		<a href="{{protocol}}{{domain}}{{settings.client.pages.activation}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}" class="button">Bestätigen</a></p>
{% endblock %}
