{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Schön dass du unseren Shop {{domain}} gefunden hast. Wir haben für dich einen Kunden-Account angelegt über den du dich über den aktuellen Zustand deiner Bestellungen und deine Konditionen informieren kannst.<br><br>
		Um deinen Account zu nutzen musst Du nun nur noch dein Passwort setzen. Nutze dazu den folgenden Link. <b>Der Link ist bis zum {{client.lostpassword_expire}} gültig.</b><br>
		Dein Passwort wurde zurückgesetzt. Mit dem folgenden Link kannst du dein Passwort neu setzen.<br><br>
		<a href="http://{{domain}}/client/resetPassword?mail={{client.mail}}&hash={{client.lostpassword_hash}}" class="button">Aktivierung bestätigen</a><br>
	</p>
{% endblock %}
