{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Schön dass Du unseren Shop {{domain}} gefunden hast. Wir haben für Dich einen Kunden-Account angelegt über den Du dich über den aktuellen Zustand Deiner Bestellungen und Deine Konditionen informieren kannst.<br><br>
		Um Deinen Account zu nutzen musst Du nun nur noch Dein Passwort setzen. Nutze dazu den folgenden Link. <b>Der Link ist bis zum {{client.lostpassword_expire}} gültig.</b><br>
		Dein Passwort wurde zurückgesetzt. Mit dem folgenden Link kannst Du Dein Passwort neu setzen.<br><br>
		<a href="https://{{domain}}{{settings.client.pages.resetPassword}}?mail={{client.mail}}&hash={{client.lostpassword_hash}}" class="button">Aktivierung bestätigen</a><br><br>
		Du benötigst keinen Account? Dann ignoriere diese Nachricht und freue dich in der Zwischenzeit auf deine Weinbestellung.
	</p>
{% endblock %}
