{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Vielen Dank!</h3>
	<p>Wir haben ihre Bestellung wie folgt erhalten.<br><br></p>

	{% if order.payment_type == 'prepaid' %}
	<p><b>Sie haben als Zahlungsart Vorkasse gewählt. Bitte berücksichtigen Sie, dass bis zum Zahlungseingang die Ware nicht versendet wird.</b></p>
	{% endif %}

	<table border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #999999; border-collapse: collapse; width: 100%">
		<tr>
			<td colspan="2" style="border: 1px solid #999999;">
				<p><b>Bestellnummer:</b><br>
				{{order.number}}</p>
			</td>
			<td colspan="2" style="border: 1px solid #999999;">
				<p><b>Kundennumer:</b><br>
				{{order.billing.number}}</p>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #999999;" colspan="2">
				<p><b>Rechnungsadresse:</b><br>
					{% if order.billing_type == 'address' %}
						{% if order.billing.company and order.billing.company != '' %}Firma: {{order.billing.company}}<br>{% endif %}
						Name: {{order.billing.first_name}} {{order.billing.last_name}} <br>
						Straße: {{order.billing.address}}<br>
						PLZ/Ort: {{order.billing.zip}} {{order.billing.city}} <br>
					{% else %}
						{% if order.client.company and order.client.company != '' %}Firma: {{order.client.company}}<br>{% endif %}
						Name: {{order.client.first_name}} {{order.client.last_name}} <br>
						Straße: {{order.client.address}}<br>
						PLZ/Ort: {{order.client.zip}} {{order.client.city}} <br>
					{% endif %}
					Email: {{order.client.mail}}<br>
					{% if order.client.phone and order.client.phone != '' %}Telefon: {{order.client.phone}}<br>{% endif %}
				</p>
			</td>
			<td style="border: 1px solid #999999;" colspan="2">
				<p><b>Die Lieferung erfolgt an:</b><br>
					{% if order.delivery.company and order.delivery.company != '' %}Firma: {{order.delivery.company}}<br>{% endif %}
					{% if order.delivery_type == 'address' %}
						Name: {{order.delivery.first_name}} {{order.delivery.last_name}} <br>
					{% else %}
						Name: {{order.delivery.first_name}} {{order.delivery.last_name}} <br>
					{% endif %}
					Straße: {{order.delivery.address}}<br>
					PLZ/Ort: {{order.delivery.zip}} {{order.delivery.city}} <br>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border: 1px solid #999999;">
				<p><b>Zahlungsart:</b><br>
				{{('order.paymenttypes.' ~ order.payment_type)|translate}}</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border: 1px solid #999999;">
				<p><b>Ihre Nachricht an uns:</b><br>
				{{order.note}}<br></p>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #999999;"><b>Position</b></td>
			<td style="border: 1px solid #999999;"><b>Artikel</b></td>
			<td style="border: 1px solid #999999;"><b>Einzelpreis</b></td>
			<td style="border: 1px solid #999999;"><b>Preis</b></td>
		</tr>
		{% set net = 0 %}
		{% set tax = 0 %}
		{% set gross = 0 %}
		{% set index = 0 %}
		{% for item in order.positions %}
			<tr>
				<td style="border: 1px solid #999999;" valign="top">{{loop.index}}</td>
				<td style="border: 1px solid #999999;" valign="top">{{item.quantity}}&nbsp;x&nbsp;{{item.item.name}}<br>
					(Artikelnummer: {{item.item.articlenumber}})</td>
				<td style="border: 1px solid #999999;" valign="top">{{item.item.gross|number_format(2, ',', '.')}}&nbsp;EUR</td>
				<td style="border: 1px solid #999999;" valign="top">{{(item.item.gross * item.quantity)|number_format(2, ',', '.')}}&nbsp;EUR</td>
			</tr>
			{% set net = net + (item.item.net * item.quantity) %}
			{% set tax = tax + (item.item.tax * item.quantity) %}
			{% set gross = gross + (item.item.gross * item.quantity) %}
			{% if loop.last %}
				{% set index = loop.index + 1 %}
			{% endif %}
		{% endfor %}
		{% if order.package %}
			<tr>
				<td style="border: 1px solid #999999;">{{index}}</td>
				<td style="border: 1px solid #999999;">Versand und Verpackung</td>
				<td style="border: 1px solid #999999;">{{order.package.gross|number_format(2, ',', '.')}}&nbsp;EUR</td>
				<td style="border: 1px solid #999999;">{{order.package.gross|number_format(2, ',', '.')}}&nbsp;EUR</td>
			</tr>
			{% set net = net + (order.package.net * 1) %}
			{% set tax = tax + (order.package.tax * 1) %}
			{% set gross = gross + (order.package.gross * 1) %}
		{% endif %}
		<tr>
			<td style="border: 1px solid #999999;" colspan="3">Gesamtsumme Netto</td>
			<td style="border: 1px solid #999999;">{{net|number_format(2, ',', '.')}}&nbsp;EUR</td>
		</tr>
		{% if customer.tax_free %}
			<tr>
				<td style="border: 1px solid #999999;" colspan="4">{{ 'customer.field.smallBusiness.description'|translate }}</td>
			</tr>
		{% else %}
			<tr>
				<td style="border: 1px solid #999999;" colspan="3">Mehrwertssteuer</td>
				<td style="border: 1px solid #999999;">{{(tax)|number_format(2, ',', '.')}}&nbsp;EUR</td>
			</tr>
		{% endif %}
		<tr>
			<td style="border: 1px solid #999999;" colspan="3">Gesamtsumme Brutto</td>
			<td style="border: 1px solid #999999;">{{gross|number_format(2, ',', '.')}}&nbsp;EUR</td>
		</tr>

	</table>

	{% if order.payment_type == 'prepaid' %}
		<p class="text-align: center"><br><b>Bitte überweisen Sie den fälligen Gesamtbetrag von {{gross|number_format(2, ',', '.')}}&nbsp;EUR auf folgendes Konto:<b><br><br></b></b>
		<table border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #999999; border-collapse: collapse; width: 100%">
			<tr>
				<td colspan="2" style="border: 1px solid #999999;">IBAN:</td>
				<td colspan="2" style="border: 1px solid #999999;">{{customer.settings.bank.iban}}</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 1px solid #999999;">BIC:</td>
				<td colspan="2" style="border: 1px solid #999999;">{{customer.settings.bank.bic}}</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 1px solid #999999;">Kreditinstitut:</td>
				<td colspan="2" style="border: 1px solid #999999;">{{customer.settings.bank.bankname}}</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 1px solid #999999;">Kontoinhaber:</td>
				<td colspan="2" style="border: 1px solid #999999;">{{customer.settings.bank.owner}}</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 1px solid #999999;">Verwendungszweck:</td>
				<td colspan="2" style="border: 1px solid #999999;">{{order.number}}</td>
			</tr>
		</table>
		<p>
			<br><b>Bis zum erhalt der Zahlung verbleibt die Ware im Weingut.</b>
		</p>
	{% else %}
		<p>Ihre Bestellung wird schnellstmöglich bearbeitet.</p>
	{% endif %}
{% endblock %}
