{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Dein Passwort wurde zurückgesetzt. Mit dem folgenden Link kannst Du Dein Passwort neu setzen.<br><br>
		<a href="https://{{domain}}{{settings.client.pages.resetPassword}}?mail={{client.mail}}&hash={{client.hash}}" class="button">Passwort zurücksetzen</a><br>
		<br>
		<strong>ACHTUNG!!!</strong><br>
		Dieser Link läuft am {{client.expire}} Uhr ab.
	</p>
{% endblock %}
