{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo {{client.first_name}} {{client.last_name}},</h3>
	<p>
		Dein Passwort wurde zurückgesetzt. Mit dem folgenden Link kannst du dein Passwort neu setzen.<br><br>
		<a href="http://{{domain}}/client/resetPassword?mail={{client.mail}}&hash={{client.hash}}">Aktivierung bestätigen</a><br>
		<br>
		<strong>ACHTUNG!!!</strong><br>
		Dieser Link läuft am {{client.expire}} Uhr ab.
	</p>
{% endblock %}
